h1 {
	font-family: 'Istok Web', sans-serif; 
	font-size: 32px; 
	color: #413839;
	padding-top: 20px;
	width: 650px;
    text-align: center;
}

p {
	font-family: 'Roboto Slab', serif;
	font-size: 16px; 
	color: #413839;
}

a:link    {color:#413839;}
a:visited {color:#413839;}
a:hover   {background: #eafa5b;}
a:active  {color:#413839;}