h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 100px; 
	color: #DBD21B;
	padding-top: 130px;
    text-align: center;
}

body {
	background: #eafa5b;

}

p {
	font-family: 'Roboto Slab', serif;
	font-size: 18px; 
	color: #413839;
	padding-left: 20px;
	text-align: left;
}

a:link    {color:#413839;}
a:visited {color:#413839;}
a:hover   {background: #DBD21B;}
a:active  {color:#413839;}